@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global overrides */

@layer base {
  html {
    font-size: 20px;
  }
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

/* App background + text color */
body {
  @apply bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100;
  margin: 0;
}


/* Let React handle layout; don't constrain #root here */
#root {
  min-height: 100vh;
}
